roma
pytorch3d
gfpgan
sam2
jaxtyping
tb-nightly
facexlib
smplx
kornia
accelerate
diffusers
facexlib
accelerate
tensorboard
plyfile
trimesh 
chumpy
#modelscope
timm
transformers>=4.46.2
onnxruntime-gpu
sentencepiece
ftfy
#huggingface_hub[cli] 
imageio
imageio-ffmpeg




